@using System.Globalization;
@model Prototype.DomainMVC.ViewModel.ClimateTimeWeather

@{
    ViewData["Title"] = "Home";
}


<section>
    <h1 class="h1">Dados do IoT</h1>
    <div class="col-md-12 row">
        <div class="col-md-4">
            <iframe width="350" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1391359/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=100&title=Umidade+do+solo&type=line&key=LJBXKI6TW2VXEM89"></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="350" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1391359/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=100&title=Temperatura&type=line&key=LJBXKI6TW2VXEM89"></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="350" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1391359/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=100&title=Umidade+do+ar&type=line&key=LJBXKI6TW2VXEM89"></iframe>
        </div>
    </div>
</section>

<section style="margin-bottom:20px">
    <h1 class="h1">Previsão do tempo</h1>
    <div class="top-content">
        <div class="container-fluid">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    @foreach (var item in Model.WeatherForecast)
                    {
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 @(item == Model.WeatherForecast[0] ? "active" : "")">
                            <div class="card" style="height:500px!important">
                                <div class="card-body">
                                    <div class="_flex _justify-center _align-center">
                                        <img src="~/images/ClimateIcon/@(item.TextIcon.Icon.IconDesing + ".png")" class="card-img-top" alt="Clima" style="width:25%!important; margin-left:10px" width="60">
                                        <span class="-bold -gray-dark-2 -font-55 _margin-l-20 _center font-weight-bold carousel-date">
                                            @item.Date.ToString("dd/MMMM")
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h3 class="-bold -gray-dark-2 -font-55 _margin-l-20 _center font-weight-bold">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Date.ToString("dddd"))</h3>
                                    <h5 class="card-title">@item.TextIcon.Text.Description</h5>
                                    <p class="card-text">Temperatura max: @(item.Temperature.Max) °C</p>
                                    <p class="card-text">Temperatura min: @(item.Temperature.Min) °C</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Probabilidade chuva: @(item.Rain.Probability) %</li>
                                    <li class="list-group-item">Humidade: @((item.Humidity.Max + item.Humidity.Min) / 2)</li>
                                    <li class="list-group-item">Velocidade vento: @((item.Wind.Max + item.Wind.Min) / 2) km/h</li>
                                    <li class="list-group-item">Direção vento: @item.Wind.Direction</li>
                                </ul>
                                @*<div class="card-body">
                                            <a href="#" class="card-link">Card link</a>
                                            <a href="#" class="card-link">Another link</a>
                                    </div>*@
                            </div>
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script src="~/js/index.js"></script>
}
